<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Book</title>
</head>
<body>
    <p>
        <span><b>Title: </b><%=book.title  %></span><br/>
        <span><b>ISBN: </b><%=book.isbn  %></span><br/>
        <span><b>Published Date: </b><%=book.published_date  %></span><br/>
        <span><b>Copies: </b><%=book.copies  %></span><br/>
        <span><b>Avaiable Copies: </b><%=book.copies_available  %></span>
    </p>
    <a href="/books/<%=book._id%>/edit">Edit</a>
</body>
</html>